---
---

@import "{{ site.theme }}";

/* remove the repo name as some kind of weird super-title 
h1:first-child { display: none }
*/

.character_main {
    font-weight: bold;
}

.character_nickname {
    font-size: small;
    font-style: italic;
}

.freq {
    font-size: small;
}

.italic {
    font-style: italic;
}

.todo {
    display: none;
}

.todo_must {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: green;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.default_text_color {
    color: #606c71
}