---
---

@import "{{ site.theme }}";

/* remove the repo name as some kind of weird super-title */
h1:first-child { display: none }

.character_main {
    font-weight: bold;
}

.character_nickname {
    font-size: small;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.todo {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: gray;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}